{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Михаил</h1>
<p>
    <h3>Я ответственный, проактивный, стрессоустойчивый, коммуникабельный, честный.. 
    Мои сильные стороны — хорошие управленческие и лидерские навыки, системное мышление, позитивный настрой.<h3> 
</p>
<div>
  <p>
     <h5>     
        Я взял микрофон и начал громко рэпить,<br>
        Я осторожен, потому что мне не нужно попасть в ловушку...<br>
        Моя музыка волнует людей,<br>
        мой настоящий стиль - Я не дурак,<br> 
        чтобы проверять время на ложь и притворство!<br>
        Мне нравится смотреть на жизнь с оптимизмом и надеждой,<br>
        потому что я знаю, что мне надо делать.<br>
        Моя музыка настоящая, и я ее люблю... <br>
        Я борюсь за свою музыку, пока я живу!<br>
        Я не боюсь рисковать, я не боюсь ошибаться.<br>  
        Мои слова глубоки, мой стиль неповторим.<br>
        Так что, если вы хотите послушать мою музыку,<br>
        Просто прислушайтесь и наслаждайтесь ею...<br>
     </h5>
  </p>
</div>
{% endblock %} 